<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">
        <span>{{ $.Site.Copyright | safeHTML }}</span>
    {{else}}
      <div class="copyright">
    {{end}}
        <span>© {{ now.Year }} :: <a style="text-decoration: none;" href="https://viet.md"> Made in Prague with &hearts;</a></span>
      </div>
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
